{% extends 'core/base.html' %}
{% block title %}Home | {{ block.super }}{% endblock %}
{% block main %} 
<h3>Hi there, welcome to my treehouse!</h3>
<p class="text">I go by many names, and in here I'm Hare, basically. I enjoy programming on computers and reading fun books.</p>
<p class="text">This is my website. It has gone through many reincarnations (and rebirths, like a phoenix).</p>
<p class="text">I'm contactable via email: hare[at]harewood.xyz</p>
<p class="text">Of course, I'm also contactable via other means. Ask.</p>
{% endblock %}