{% extends 'core/base.html' %}
{% block title %}Posts | {{ block.super }}{% endblock %}
{% block head %}
<style>
    #post-list {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .post {
        font-size: 1.1em;
    }
</style>
{% endblock %}
{% block main %} 
<h1>Posts</h1>
<div id="post-list">
{% for post in posts %}
    {% if post.is_external %}
    <p class="post"><a href="{{ post.external_url }}" class="link">{{ post.title }} - {{ post.date | date:"Y.M.d H:m"}}</a></p>
    {% else %}
    <p class="post"><a href="/post/{{post.slug}}/" class="link">{{ post.title }} - {{ post.date | date:"Y.M.d H:m"}}</a></p>
    {% endif %}
{% endfor %}
</div>

<p>Categories: {% for slug, c in categories.items %}<a class="link" href="/category/{{ slug }}">{{ c }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% comment %} <p>Categories: {% for _, c in categories.items %}{{ c }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> {% endcomment %}
<p>Tags: {% for slug, tag in tags.items %}<a class="link" href="/tag/{{ slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% comment %} <p>Tags: {% for _, tag in tags.items %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> {% endcomment %}
{% endblock %}